.exp {
    margin: 0px;
    padding: 2px 0px 3px 10px;
    color: black;
}

.com {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prd {
    font-size: xx-small;
    font-style: italic;
    margin-right: 20px;

}

.yrs {
    font-size: xx-small;
    font-style: italic;
    margin-right: 20px;
}

.pro {
    font-size: xx-small;
    margin-left: 30px;
}

.pos {
    margin-left: 20px;
    color: rgb(0, 153, 255);
}

.des {
    display: flex;
}

.cir {
    margin-right: 5px;
}

.close {
    margin-left: 5px;
    cursor: pointer;
    font-size: 7px;
}