.exp {
    margin: 2px;
    padding: 5px 10px;
    color: black;
}

.com {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yrs {
    font-size: xx-small;
    font-style: italic;
}

.pro {
    font-size: xx-small;
    margin-left: 30px;
}

.pos {
    margin-left: 20px;
    color: rgb(0, 181, 252);
}

.des {
    display: flex;
}

.cir {
    margin-right: 5px;
}
