<div class="exp">
    <div class="com">
        <h4>
            <fa-icon [icon]="faCircleDot"></fa-icon> {{exp.company}}
        </h4>
        <h5 class="prd">{{exp.period}}
            <fa-icon (click)="on_delete(exp)" [ngStyle]="{'color': 'rgb(235, 83, 83)'}" class="close" [icon]="faCircleXmark" size="2x"></fa-icon>
        </h5>
    </div>
    <div class="com">
        <h5 class="pos">{{exp.position}}</h5>
        <h5 class="yrs">{{exp.duration}}</h5>
    </div>
    <div class="pro">
        <p class="des">
            <fa-icon class="cir" [icon]="faCircle" size="xs"></fa-icon> {{exp.project_one}}
        </p>
        <p class="des">
            <fa-icon class="cir" [icon]="faCircle" size="xs"></fa-icon> {{exp.project_two}}
        </p>
        <p class="des">
            <fa-icon class="cir" [icon]="faCircle" size="xs"></fa-icon> {{exp.project_three}}
        </p>
    </div>
</div>