<div class="full">
    <div class="row_one">
        <h5>
            <fa-icon class="cir" [icon]="faCircleDot" size="xs"></fa-icon>{{educ.university}}
        </h5>
        <h6>{{educ.period}}
            <fa-icon (click)="on_delete(educ)" [ngStyle]="{'color': 'rgb(235, 83, 83)'}" class="close" [icon]="faCircleXmark" size="2x"></fa-icon>
        </h6>
    </div>
    <div class="row_two">
        <h6>{{educ.program}}</h6>
        <div class="bth">
            <h6 [ngStyle]="{'color': 'rgb(0, 153, 255)'}">{{educ.class}}</h6> -
            <h6>{{educ.gpa}}</h6>
        </div>
    </div>
</div>