<div class="page">
    <div class="container">
        <div class="topic-left">
            <app-header></app-header>
            <app-exps></app-exps>
        </div>
        <div class="topic-left">
            <app-info></app-info>
            <app-conts></app-conts>
        </div>
        <div class="topic-left">
            <app-certs-header></app-certs-header>
            <app-certs></app-certs>
        </div>
        <div class="topic-left">
            <app-educs-header></app-educs-header>
            <app-educs></app-educs>
        </div>
    </div>
</div>