.cert {
    padding: 2px 0px 0px 10px;
    font-size: x-small;
    margin-left: 30px;
    align-content: center;
}

.des {
    display: flex;
}

.cir {
    margin-right: 5px;
    font-size: 8px;
}

.cert a {
    text-decoration: none;
    color: black;
}