.cert {
    display:flex;
    padding: 2px 0px 0px 10px;
    font-size: x-small;
    margin-left: 27px;
    margin-right: 22px;
    margin-bottom: 0px;
    align-items: center;  
    justify-content: space-between;
}

.cir {
    margin-right: 5px;
    font-size: 8px;
    
}

.des {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.both {
    display: flex;
}

.close {
    cursor: pointer;
    font-size: 12px;
}