<form *ngIf="show_add_cert" (ngSubmit)="on_submit()">
    <div class="form-control">
        <h4 for="description">Certification or Award</h4>
        <input type="text" name="description" [(ngModel)]="description" id="description" placeholder="Add description here">
    </div>
    <div class="form-control">
        <h4 for="url">Add URL</h4>
        <input type="text" name="url" [(ngModel)]="url" id="url" placeholder="Add URL here">
    </div>
    <input type="submit" value="Save" class="btn btn-block">
</form>
